<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h3>{{title}}</h3>
    </div>
  </div>  
  
  <div class="row">
    <!--
    <div class="col-md-6">  
      <label>
        <input [(ngModel)]="activeOnly" type="checkbox" data-toggle="toggle">&nbsp;&nbsp;Active Only
      </label>
    </div>  
    -->  
   
    <div class="col-md-12 mb-3">
      <!-- Location Selector -->
      <table>
        <tbody>
          <tr class="mb-3">
            <td>
              <label for="location">Location:</label>
              <select class="form-control bg-lightgrey"
                      id="location"
                      [(ngModel)]='locationFilter'>
                    <option value='All'>All</option>
                    <option *ngFor='let location of locations'
                            [ngValue]="location.name">
                  {{location?.name}}
                </option>  
              </select>
            </td>

            <td class="pl-2">
              <label for="action">Action:</label>
              <select class="form-control bg-lightgrey"
                      id="action"
                      [(ngModel)]='actionFilter'>
                    <option value='All'>All</option>
                    <option *ngFor='let action of actions'
                            [ngValue]="action.action">
                  {{action?.action}}
                </option>  
              </select>
            </td>
            <td width="50%" >
              <button class="float-right btn btn-warning btn-sm"
                      (click)="onAdd();">
                Create Invoice
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>    

    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-hover table-stripped table-condensed" width="100%" style="width:100%">
          <thead>
            <tr>
              <th style="min-width:20%;">Location</th>
              <th>Date</th>
              <th>Action</th>
              <th>Owner</th>
              <!-- <th>Commission</th> -->
              <th class="center-align">
                Delete
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class=""
                *ngFor="let invoice of filteredInvoices; let odd = odd; let even = even; let idx = index;"
                [ngClass]="{odd:odd,even:even}">
  
              <td (click)="onEdit(invoice, idx);">{{invoice.location}}</td>
              <td (click)="onEdit(invoice, idx);">{{invoice.date | date:'yyyy-MM-dd'}}</td>
              <td (click)="onEdit(invoice, idx);">{{invoice.action}}</td>
              <td (click)="onEdit(invoice, idx);">{{invoice.owner}}</td>
              <td class="center-align cursor-hand centered"
                  (click)="onRemove(invoice, idx);">
                <i class="fa fa-trash xs-light" aria-hidden="true"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>    
<!--
<div>
  {{ locationFilter | json }}
</div>
<div>
  {{ _loctionFilter | json }}
</div>
-->