
<nav class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">Print Manager</a>
    <ul class="navbar-nav text-uppercase ml-auto">
      <li class="nav-item active">
          <a class='nav-link navbar-item' [routerLink]="['/inventory']" routerLinkActive='active'>Inventory</a>
      </li>
      <li class="nav-item">
          <a class='nav-link' [routerLink]="['/invoice']" routerLinkActive='active'>Invoice</a>
      </li>
      <li class="nav-item">
          <a class='nav-link' [routerLink]="['/image']" routerLinkActive='active'>Images</a>
      </li>
      <li class="dropdown" dropdown>
        <div class="btn-group" dropdown>
          <button id="button-config" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle"
                  aria-controls="dropdown-config">
                Attributes <span class="caret"></span>
          </button>
          <ul id="dropdown-config" 
              *dropdownMenu class="dropdown-menu"
              role="menu" 
              aria-labelledby="button-config">
            <li role="menuitem">
              <a class="dropdown-item" href="#" class='nav-link' [routerLink]="['/location']" routerLinkActive='active'>Locations</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="#" class='nav-link' [routerLink]="['/line']" routerLinkActive='active'>Lines</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="#" class='nav-link' [routerLink]="['/material']" routerLinkActive='active'>Materials</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="#" class='nav-link' [routerLink]="['/size']" routerLinkActive='active'>Sizes</a>
            </li>
          </ul>
        </div>
        <!--
        <a dropdownToggle role="button">
          Attributes <span class="caret"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <li>
            <a href="#">Lines</a>
          </li>
          <li>
            <a href="#">Locations</a>
          </li>
        </ul>
      -->
      </li>
    </ul>
  </nav>

<!--
<nav class='pa-navbar navbar navbar-expand-lg bg-info' >
  <a class='navbar-brand brand-title' [routerLink]="['/home']">{{brandTitle}}</a>
  <ul class='nav navbar-nav nav-pills mr-auto' style="margin:0;padding:0;">
    <li class="nav-item">
      <a class='nav-link navbar-item' [routerLink]="['/inventory']" routerLinkActive='active'>Inventory</a>
    </li>
    
    <li class="nav-item ">
      <a class='nav-link' [routerLink]="['/invoice']" routerLinkActive='active'>Invoice</a>
    </li>

    <li class="nav-item">
      <a class='nav-link' [routerLink]="['/image']" routerLinkActive='active'>Images</a>
    </li>

    <li class="nav-item">
      <a class='nav-link' [routerLink]="['/line']" routerLinkActive='active'>Lines</a>
    </li>

    <li class="nav-item">
      <a class='nav-link' [routerLink]="['/location']" routerLinkActive='active'>Locations</a>
    </li>
  
  </ul>
  <ul class="nav  nav-pills justify-content-end">
    <li *ngIf="authService.isLoggedIn()" class="nav-item">
      <a class="nav-link" [routerLink]="['/login']" >Welcome {{ authService.currentUser.name }}</a>
    </li>
    <li *ngIf="!messageService.isDisplayed">
      <a class="nav-link" (click)='displayMessages()'>Show Messages</a>
    </li>
    <li *ngIf="messageService.isDisplayed">
        <a class="nav-link" (click)='hideMessages()'>Hide Messages</a>
    </li>
    <li *ngIf="!authService.isLoggedIn()">
      <a class="nav-link" [routerLink]="['/login']">Log In</a>
    </li>
    <li *ngIf="authService.isLoggedIn()">
      <a class="nav-link" (click)="logOut()">Log Out</a>
    </li>
  </ul>
</nav> 

-->