<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Lines</h3>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-6" >  
      <label>
        <input [(ngModel)]="activeOnly" type="checkbox" data-toggle="toggle">&nbsp;&nbsp;Active Only
      </label>
    </div>  

    <div class="col-md-6 right-align">
      <button class="float-right btn btn-warning btn-sm"
              (click)="onAdd();">
        Add Line
      </button>
    </div>  
  </div> 
    <!--
    <div class="col-xs-12" style="margin-bottom:10px;">
        <input type="text" 
               class="form-control filter-input" 
               style="width:80%;display:inline-block;"
               id="location-filter"
               [(ngModel)]='locationFilter'
               placeholder='lighthouse' >
  
        <button type="button"
              class="btn btn-light"  
              style='display:inline-block;margin-left:4px;height:25px;width:15%;padding-top:0;margin-top:0;' 
              (click)='onClearLocationFilter()'>
          
            <i class="fa fa-times fa-1x"  aria-hidden="true"></i>
        </button>   
      </div> 
    </div>
    -->
    <div class="row">
      <div class="col-xs-12">  
    <!--
    <div>
      {{ lines | json }}
    </div>
    -->
    <table class="table table-condensed table-hover table-bordered">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Description
          </th>
          <th>
            Sort Order
          </th>
          <th>
            Default
          </th>
          <th>
            Active
          </th>
          <th>
            Delete
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let line of filteredLines; let idx = index; let odd = odd; let even = even;"
            [ngClass]='{odd:odd, even:even}'>
          
          <td class="cursor-hand"
              (click)="onEdit(line, idx);">
            {{line?.name}}
          </td>
          
          <td class="cursor-hand"
              (click)="onEdit(line, idx);">
            {{line?.description}}
          </td>

          <td class="right-align cursor-hand">
            {{line?.sortOrder}}
          </td>

          <td class="text-center">
            <div *ngIf="line.default === undefined || line.default === false">
              <button class="btn btn-sm btn-outline-secondary"
                      (click)="onSetDefault(line, idx);">
                Make Default
              </button>
            </div>
            <div *ngIf="line.default === true" 
                  class="is-selected">
              <i class="fa fa-check"></i> Default
            </div>
          </td>
  
          <td class="center-align centered">
            <input [(ngModel)]="line.active" 
                   [ngModelOptions]="{standalone: true}" 
                   (change)="onChangeActive(line)" 
                   type="checkbox"  
                   data-toggle="toggle">
          </td>

          <td class="center-align cursor-hand centered"
              (click)="onRemove(line, idx);">

              <i class="fa fa-times" style="color:red;" aria-hidden="true"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>