<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h3>Aspect Ratios</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-3">
      <table>
          <tbody>
            <tr class="mb-3">
              <td>
                <label>
                  <input [(ngModel)]="activeOnly" type="checkbox" data-toggle="toggle">&nbsp;&nbsp;Active Only
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>     
  </div> 
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-bordered table-hover table-stripped table-condensed" width="100%" style="width:100%">
        <thead>
          <tr>
            <!-- <th style="min-width:10%;">Id</th> -->
            <th style="min-width:20%;">Ratio</th>
            <th>Owner</th>
            <th>Default</th>
            <th>Active</th>
            <!--<th class="center-align">Edit</th>-->
            <th class="center-align">
              Delete
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class=""
              *ngFor="let ratio of filteredRatios; let odd = odd; let even = even; let idx = index;"
              [ngClass]="{odd:odd,even:even}">

            <td (click)="onEdit(ratio, idx);">{{ratio.ratio}}</td>
            <td (click)="onEdit(ratio, idx);">{{ratio.owner}}</td>
            <td class="text-center">
              <div *ngIf="ratio.default === undefined || ratio.default === false">
                <button class="btn btn-sm btn-outline-secondary"
                        (click)="onSetDefault(ratio, idx);">
                  Make Default
                </button>
              </div>
              <div *ngIf="ratio.default === true" 
                    class="is-selected">
                <i class="fa fa-check"></i> Default
              </div>
            </td>
            <td class="center-align centered">
              <input [(ngModel)]="ratio.active" 
                      [ngModelOptions]="{standalone: true}" 
                      (change)="onChangeActive(ratio)" 
                      type="checkbox"  
                      data-toggle="toggle">
            </td>
            <td class="center-align cursor-hand centered"
                (click)="onRemove(ratio, idx);">
                <i class="fa fa-times delete-dark-red" aria-hidden="true"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>  