/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  padding: 54px 0 0 0;
  background-color: #292929;
}

h2 {
  color: white;
}

.container {
  padding: 8px 0;
}

.pa-navbar {
  margin: 0 0;
  padding:6px 0;
  margin-bottom:22px;
  padding-bottom:0;
  padding-top:20px;
  background-color: #474747 !important;
}
a.brand-title {
  text-decoration: none;  
  color: #ddd !important;
  border: none;
  margin-left: 10px;
  /* text-shadow: -1px -1px 0px #fff, 1px 1px 0px #000; */
}

a.nav-link {
  margin-bottom:8px;
  margin-left: 4px;
  color: #222 !important;
  background-color: #888 !important;
}
a.nav-link:hover {
  color: #222 !important;
  background-color: #aaa !important;
}

a.nav-link.active  {
  color: #222 !important;
  background-color: #eee !important;
}
