<div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h3>Sizes</h3>
        <!-- <p>{{sizes | json}}</p> -->
      </div>
    </div>  
    
    <div class="row">
      <div class="col-md-6">
        <label>
          <input [(ngModel)]="activeOnly" type="checkbox" data-toggle="toggle">&nbsp;&nbsp;Active Only
        </label>
      </div>  
  
      <div class="col-md-6">
        <button class="float-right btn btn-warning btn-sm"
                (click)="onAdd();">
          Add Size
        </button>
      </div>  
    </div>
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-bordered table-hover table-stripped table-condensed" width="100%" style="width:100%">
            <thead>
              <tr>
                <th style="min-width:20%;">Size</th>
                <th>Ratio</th>
                <th>Volume</th>
                <!-- <th>Owner</th> -->
                <th>Active</th>
                <th class="center-align">
                  Delete
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class=""
                  *ngFor="let size of filteredSizes; let odd = odd; let even = even; let idx = index;"
                  [ngClass]="{odd:odd,even:even}">
          
                <td (click)="onEdit(size, idx);">{{size.size}}</td>
                <td (click)="onEdit(size, idx);">{{size.ratio}}</td>
                <td (click)="onEdit(size, idx);">{{size.volume}}</td>
                <!-- <td (click)="onEdit(size, idx);">{{size.owner}}</td> -->
                <td class="center-align centered">
                  <input [(ngModel)]="size.active" 
                         [ngModelOptions]="{standalone: true}" 
                         (change)="onChangeActive(size)" 
                         type="checkbox"  
                         data-toggle="toggle">
                </td>
                <td class="center-align cursor-hand centered"
                    (click)="onRemove(size, idx);">
                    <i class="fa fa-times delete-dark-red" aria-hidden="true"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>

<!--
cost:Object
id:7
price:Object
ratio:"1:1"
size:"16 x 16"
sizeSort:256
sortOrder:80
volume:256
owner:"Greg Milligan"
-->